body {
  padding-top: 56px;
}

header {
  width: 100%;
  & > nav {
    background: $bg-color;
    color: $w-color;
  }
  a {
    color: $w-color;
    text-decoration: none;
    &:hover {
      color: $w-color;
    }
  }
  .navbar-brand {
    span {
      padding: 0 1rem;
      color: $brand-color;
    }
  }
}

.sidebar {
  text-align: center;
  border-right: 3px solid $bg-color;
  position: fixed;
  top: 56px;
  bottom: 0;
  padding: 15px 0;
  overflow-y: scroll;

  ul {
    list-style: none;
  }

  .profile-sidebar {
    border-bottom: 1px solid #e9ecf2;
    padding: 10px 15px;
    .profile-title {
      .online, .offline {
        position: relative;
        &::before {
          content: '';
          width: 10px;
          height: 10px;
          background: #8ad919;
          position: absolute;
          left: -15px;
          top: 7px;
          @include border-radius(50%);
        }
      }

      .offline {
        &::before {
          background: red;
        }
      }
    }
  }

  .search-menu {
    padding: 10px 15px;
    margin: 10px 0;
  }

  .subitem-menu {
    float: right;
    position: relative;
    top: 4px;
  }

  .rt-icon {
    position: relative;
    bottom: 35px;
    right: 15px;
  }

  .sidebar-list {
    list-style: none;
    li {
      div {
        text-align: left;
        a {
          padding: 15px;
          color: $bg-color;
          font-size: 1.125rem;
          display: block;
          &:hover {
            text-decoration: none;
            background: $brand-color;
            cursor: pointer;
            color: #fff;

          }
        }
        .parent {
          a {
            font-size: 1rem;
            padding-left: 30px;
          }
        }
      }
    }
  }
}


.panel-widget {
  text-align: center;
  font-size: 1.2rem;
}

.panel-container {
  padding-top: 20px;
}

.panel-widget {
  padding: 10px 0;
  position: relative;
  box-shadow: none;
  border-radius: 0;
  background: none;
  text-align: center;
  color: #333;
  .large {
    color: #373b45;
    font-size: 3em;
    width: 100%;
  }
  .text-muted {
    margin-top: -6px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    width: 100%;
  }
}

.color-blue {
  color: #30a5ff;
}

.color-orange {
  color: #ffb53e;
}

.color-teal {
  color: #1ebfae;
}

.color-red {
  color: #f9243f;
}

.page-title {
  margin: 25px 10px;
}

.hide {
  display: none;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.border-right {
  border-right: 1px solid #2f2f2f;
}