header {
  background: $bg-color;
  color: $w-color;
  a {
    color: $w-color;
    text-decoration: none;
    &:hover {
      color: $w-color;
    }
  }
  .navbar-brand {
    span {
      padding: 0 1rem;
      color: $brand-color;
    }
  }
}

#sidebar {
  border-right: 3px solid $bg-color;
  position: fixed;
  top:55px;
  bottom: 0;
  padding: 15px 0;
  overflow-y: scroll;

  ul {
    list-style: none;
  }

  .profile-sidebar {
    border-bottom: 1px solid #e9ecf2;
    padding: 10px 15px;
    .profile-title {
      .online, .offline {
        position: relative;
        &::before {
          content: '';
          width: 10px;
          height: 10px;
          background: #8ad919;
          position: absolute;
          left: -15px;
          top: 7px;
          @include border-radius(50%);
        }
      }

      .offline {
        &::before {
          background: red;
        }
      }
    }
  }

  .search-menu {
    padding: 10px 15px;
    margin: 10px 0;
  }

  .subitem-menu {
    float: right;
    position: relative;
    top: 4px;
  }

  .rt-icon {
    position: relative;
    bottom: 35px;
    right: 15px;
  }

  .sidebar-list {
    list-style: none;
    li {
      div {
        text-align: left;
        a {
          padding: 15px;
          color: $bg-color;
          font-size: 1.125rem;
          display: block;
          &:hover {
            text-decoration: none;
            background: $brand-color;
            cursor: pointer;
            color: #fff;

          }
        }
        .parent {
          a {
            font-size: 1rem;
            padding-left: 30px;
          }
        }
      }
    }
  }
}

.hide {
  display: none;
}